/* Import of fonts */
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Removing padding and margin for whole site */
* {
    padding: 0;
    margin: 0;
}

/* Changing scroll behavior */
html {
    scroll-behavior: smooth;
    scroll-snap-type: y proximity;
}

/* Changing background-color for whole site */
body {
    background-color: #FAA92D;
    font-family: 'Raleway', sans-serif;
    color: white;
    margin: auto;
}

/* HEADER */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    scroll-snap-align: start;
    height: 15vh;
    width: 90%;
    margin: auto;
}

/* Changing logo size */
header img {
    width: 130px;
}

/* NAV */
nav {
    display: flex;
    justify-content: space-between;
    width: 700px;
}
/* Changing color of links and other styling */
nav a {
    text-decoration: none;
    color: white;
    font-size: 15pt;
    font-weight: 400;
    padding: 7px;
}
nav a:hover {
    background-color: #3B680B;
    border-radius: 15px;
}

/* BURGERMENU */
#burger {
    display: none;
}
.fa-bars {
    /* Using flexbox to place icon in the middle on the axis */
    display: flex;
    justify-content: center;
    align-items: center;

    /* Styling text and background */
    text-decoration: none;
    color: white;
    background-color: #FAA92D;
    font-size: 17pt;

    /* Positioning the icon at the bottom of the page */
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    padding: 15px;
    position: fixed;
    z-index: 1;
}

/* MAIN CONTENT STARTS HERE */

/* General rules for all sections */
section {
    height: 100vh;
    scroll-snap-align: start;
    scroll-snap-type: mandatory;
    position: relative;
    margin: auto;
}

/* Front page */
#front-page {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    height: 85vh;
    max-width: none;
}

/* Changing can size */
#front-page img {
    width: 250px;
}
/* Hiding can with leafs */
#mobile-can {
    display: none;
}

/* Text styling */
#front-page h1 {
    font-family: 'Lobster', cursive;
    font-size: 140pt;
    font-weight: 100;
}
/* Using postion relative to move text to correct position */
#front-page h2 {
    font-weight: 100;
    font-size: 23pt;
    position: relative;
    bottom: 35px;
    left: 190px;
}

/* Circle taking visiter to next section of website */
.fa-circle-arrow-down {
    color: white;
    font-size: 15pt;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: fit-content;
    margin: auto;
    margin-bottom: 20px;
    transition: .1s;
}
.fa-circle-arrow-down:hover {
    transform: scale(1.3);
    color: #3B680B;
}

/* Leafs on the left side of the screen */
#leafs {
    padding-top: 50px;
    width: 160px;
    position:absolute;
}

/* FIRST AND SECOND SECTION - HISTORY */

#section1, #section2 {
    display: flex;
    scroll-snap-align: start;
}
.history {
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 60%;
}
.history img {
    height: 500px;
}
/* Hiding pics for small screen size */
.hist-img-small {
    display: none;
    margin: auto;
    padding-bottom: 20px;
}
.history-text h1 {
    font-family: 'Lobster', cursive;
    font-weight: 100;
    font-size: 100pt;
    padding-bottom: 10px;
}
.history-text p {
    line-height: 25px;
    font-weight: 300;
}

/* THIRD SECTION - SQUASH PÅ ROS */
#section3 {
    background-image: url(images/roskilde-bg2.png);
    background-size: cover;
    object-fit:none;
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    justify-content: center;
}
.intro {
    font-family: 'Lobster', cursive;
    font-weight: 100;
    font-size: 70pt;
}

#section3-content {
    display: flex;
    gap: 20px;
    width: 60%;
}
#section3-content h2 {
    padding-bottom: 30px;
    font-weight: 700;
}
#section3-content p {
    line-height: 20px;
    margin-bottom: 50px;
    font-weight: 400;
}
#section3-content a {
    text-decoration: none;
    color: white;
    padding: 15px 30px;
    background-color: #3B680B;
    border-radius: 50px;
    font-weight: 600;
    font-size: 15pt;
} 
#section3 img {
    width: 220px;
}
#ros-img-small {
    display: none;
}

/* FOURTH SECTION - FACTS */
#section4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}
#section4-content {
    display: flex;
    justify-content: space-evenly;
    gap: 30px;
    width: 80%;
}
#section4-content h2 {
    font-size: 25pt;
    font-weight: 700;
    padding-bottom: 20px;
}
#section4-content p {
    max-width: 265px;
    line-height: 25px;
}

/* FIFTH SECTION - THE FAMILY */

#section5 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#section5-content {
    display: flex;
}

/* Resizing of images */
#all-products {
    height: 420px;
}
#sig-appelsin {
    height: 260px;
}
#familiebillede {
    height: 250px;
    position: relative;
    bottom: 70px;
    right: 30px;
    transform-origin: top center;
    transform: rotate(-5deg);
    transition: .2s;
}
#familiebillede:hover {
    transform: rotate(0deg);
}

/* SIXTH SECTION - VARIANTS */

#section6 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#section6-content {
    display: flex;
    gap: 130px;
    align-items: center;
}
/* Rezising image */
#section6-content img {
    width: 220px;
    transition: .2s;
}
#section6-content img:hover {
    transform: scale(1.05);
}
#section6-content p {
    font-family: 'Lobster', cursive;
    font-weight: 100;
    font-size: 300pt;
}

/* Home button */
.fa-house {
    color: white;
    font-size: 15pt;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: fit-content;
    margin: auto;
    margin-bottom: 20px;
    transition: .1s;
}
.fa-house:hover {
    transform: scale(1.3);
    color: #3B680B;
}

/* Scrollbar */
*::-webkit-scrollbar {
    width: 7px;
}

*::-webkit-scrollbar-track {
    background: #ffffff;
}

*::-webkit-scrollbar-thumb {
    background-color: #FAA92D;
}

/* BREAKPOINT V. 1100 PX */

@media screen and (max-width: 1100px) {
    section {
        height: 95vh;
    }
    /* Burgermenu */
    #burger {
        display: block;
    }
    nav {
        display: none;
    }
    .fa-circle-arrow-down {
        display: none;
    }
    header a {
        margin: auto;
    }

    /* FRONT PAGE */
    #front-page {
        flex-direction: column;
        justify-content: flex-start;
        gap: 20px;
    }
    #front-page h1 {
        font-size: 80pt;
    }
    #front-page h2 {
        font-size: 18pt;
        bottom: 30px;
        left: 140px;
    }
    #tekst h2 {
        display: none;
    }
    #big-can {
        display: none;
    }
    #mobile-can {
        display: block;
    }
    #front-page img {
        width: 200px;
    }

    /* Moving leafs to new position */
    #leafs {
        display: none
    }

    /* HISTORY */
    .history {
        flex-direction: column-reverse;
        width: 90%;
    }
    .history img {
        height: 300px;
    }
    .hist-img-small {
        display: block;
    }
    .hist-img-big {
        display: none;
    }

    .history-text h1 {
        text-align: center;
        font-size: 70pt;
    }
    
    /* SQUASH PÅ ROS */
    #section3 {
        background-image: none;
    }
    #section3-content {
    }
    #section3 img {
        width: 100px;
    }
    #ros-img-small {
        display: block;
        position: absolute;
        right: 0;
    }
    #ros-img-big {
        display: none;
    }

    /* Changing size of titles on pages from this section and downward */
    .intro {
        font-size: 50pt;
        text-align: center;
    }
    
    
    /* FAMILY */
    #sig-appelsin {
        display: none;
    }
    #familiebillede {
        display: none;
    }

    /* FUN FACTS */
    #section4 {
        width: 100%;
    }
    #section4-content {
        
    }
    #fact3 {
        display: none;
    }
    
    /* VARIANTS */


    
}